body, header, section, footer, article, h1, h2, h3, h4, h5, h6, input, button, label, p, fieldset, nav, ul, li, a, span, strong, em {
    margin: 0;
    padding: 0;
    border: 0;
}

div, h1, h3, h4, h5, h6, header, footer, body, section, nav, article, aside {
    display: block;
}
body {
	section {
		form {
			ul {
				list-style: none;
				
				li {
					margin: 5px;
					display: inline-block;
				}
			}
		}
		div#full-images {
			input, img {
			display: none;
			}
			input:checked + .full-image {
				margin: 5px;
				display: block;
		}
			}
			

	}
}