body
{
    background: #a9a9a9;
}

h1
{
    color: #fafad2;
    font-size: 26pt;
    font-weight: bold;
}

body > header > h1
{
    text-align: center;
    font-size: 36pt;
}

section
{
    font-size: 16pt;
}
nav ul li a
{
    color: #fff;
    font-size: 22pt;  
}
nav ul li
{
    list-style: none;
    text-align: center;
    font-weight: bold;
}
nav ul li:hover
{
    text-decoration: underline;
}
.current
{
    background: #d3d3d3;
}
a
{
    text-decoration: none;
    color: black;
}

body>footer
{
    text-align: center;
}

article > footer
{
    font-size: 12pt;
}
